.badgesCard {
  margin-bottom: 3rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  box-shadow: 5px 5px 16px #cdcdcd;
  border-radius: 1em;
  border: 1px solid #cdcdcd66;
}

.badgesCard__title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.badgesCard__wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.badgesCard__logo {
  width: 16%;
}
