{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "object-curly-newline": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.master.config.js"
      }
    }
  },
  "globals": {
    "__webpack_public_path__": "readonly"
  }
}