*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper__container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.container{
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 4px 7px 0px rgba(0,0,0,0.28);
}

.overlay__headerCard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    background-color: #663399;
    
}

.container > h1{

    font-size: 1.5rem;
    display: block;
    text-align: center;
}

.wrapper__circle__nickpic{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.circle__nickpic{
    border-radius: 50%;
    border: 8px solid #fff;
    background-color: white;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.overlay__nickpic{
    bottom: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rgba(180, 180, 180, 0.5);
    position: absolute;
}

/*------------------------------------------*/
/*--Form--*/
/*------------------------------------------*/

form{
    margin-top: 20px;
}

.form__group > select{
    width: 100%;
    height: 35px;
}

.form__editPerdil_input{
    display: flex;
    align-items: center;
    background-color: none;
    border: 2px solid rgba(150, 149, 149, 0.5);
    margin: 0 !important;
    border-radius: 5px;
    width: 100% !important;
    height: 35px;
    color: rgba(150, 149, 149, 0.5);
    padding-left: 10px;
}

.form__editPerdil_input::placeholder{
    color: rgba(150, 149, 149, 0.5);
}


.form__editPerdil_input:focus{
    outline: none;
    color: black
}

.wrapper__form__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.form__twoItems{
    width: 50%;
}

.wrapper__form__row > .form__twoItems:first-child{
    margin-right: 15px;
}

.form__threeItems{
    width: 32%;
}

.social__media{
    display: flex;
    align-items: center;
}

.FormEditPerfil__select{
    border-radius: 5px;
    border: 2px solid rgba(150, 149, 149, 0.5);;
}

.FormEditPerfil__select:focus{
    outline: none;
}

.social__media > .form__editPerdil_input{
    width: 60% !important;
    justify-self: flex-end !important;
}

.social__media > .wrapper__social__media__icon{
    height: 100%;
    display: flex;
    align-items: center;
    width: 40%;
}

.social__media > .wrapper__social__media__icon > h4{
    font-size: 1rem;
}

.social__media > .wrapper__social__media__icon > i{
    font-size: 1.5rem;
    margin-right: 5px;
}


.completeItem{
    width: 100%;
}

.completeItem > .form__editPerdil_input{
    height: 100px;
}

.completeItem > h4{
    margin-bottom: 5px;
}


.biography{
    width: 100%;
}

.biography > textarea{
    width: 100%;
    border-radius: 5px;
    height: 70px;
    background-color: none;
    border: 2px solid rgba(150, 149, 149, 0.5);;
    color: black;
    padding: 5px;
    resize: none;
}

.biography > textarea::placeholder{
    color: #ffffff;
}

.form__editPerfil_button{
    background-color: #fff;
    border: 3px solid #663399;
    color: #663399;
}

.form__editPerfil_button:hover{
    background-color: #663399;
    border: 3px solid #663399;
    color: #fff;
}


/*------------------------------------------*/
/*--Media Querys--*/
/*------------------------------------------*/

@media only screen and (max-width: 768px) {
    /* .wrapper__container{
        border: 1px solid red;
    } */
    .container{
        padding: 10px;
    }
    .wrapper__form__row{
        display: flex;
        flex-direction: column;
    }
    .form__group{
        width: 100%;
    }
    .social__media{
        width: 100%;
        margin-bottom: 8px;
    }
    .social__media:last-child{
        margin-bottom: 0px;
    }

    .social__media > .form__editPerdil_input{
        width: 50% !important;
    }

    .social__media > .wrapper__social__media__icon{
        width: 50%;
    }
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}