.workshop {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  width: 100%;
  box-shadow: 5px 5px 16px #cdcdcd;
  border-radius: 1em;
  border: 1px solid #cdcdcd66;
  max-height: 20rem;
  overflow-y: auto;
}
.workshop::-webkit-scrollbar {
  display: none;
}

.workshop__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.workshop__tittle {
  font-size: 1.1rem;
}

.workshop__filter {
  padding: 1rem 0 1rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}
.workshop__filter option {
  font-size: 1.1rem;
}

.workshop__dayGrid {
  display: flex;
  flex-direction: column;
}

.workshop__dayItem {
  display: flex;
  flex-direction: column;
}

.workshopDayItem__date {
  background-color: gray;
  width: 100%;
  color: #fff;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

.workshop__grid {
  display: flex;
  flex-direction: column;
}

.workshop__gridItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}
.workshopItem__waiting {
  background-color: black;
  border-radius: 100%;
  color: white;
  padding: 0.5rem;
  width: auto;
  /* height: auto; */
  margin-bottom: auto;
}

.workshopItem__content {
  margin-left: 0.5rem;
}

.workshopItem__paragraph {
  margin: 0.5rem 0 0 0;
}

.workshop__link {
  align-self: flex-end;
  background-color: #fff;
  color: rgb(110, 110, 192);
  font-weight: bold;
  height: inherit;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.workshop__link:hover {
  text-decoration: underline;
}
