@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --cyan: #00dbd5;
  --dark-blue: #003660;
  --gray: #95b1af;
  --ligth-purple: #a2c3ff;
  --purple: #688ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  background: #f5f3f4;
}

button {
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  background: #264653;
}

input {
  border: none;
  font-size: 1rem;
  margin: 0.5rem;
  outline: none;
  padding: 0.5rem;
  width: 15rem;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  background: none;
}

input::placeholder {
  font-weight: 300;
}

input:focus {
  border: none;
}

p {
  margin: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
  text-shadow: 0px 0px 0.5px var(--cyan);
}

div.slick-slider {
  border: 1px solid red;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}
