* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

/*------------------------------------------*/
/*--HEADER--*/
/*------------------------------------------*/



/*------------------------------------------*/
/*--MAIN--*/
/*------------------------------------------*/
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 30px 0;

}

/*------------------------------------------*/
/*--MAIN FORM--*/
/*------------------------------------------*/
.main__wrapper__form {
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: center;

}

/*------------------------------------------*/
/*--visibilidad del form switch--*/
/*------------------------------------------*/
.singUp__mode {
    visibility: hidden;
    position: absolute;
    z-index: 1;

}

.login__mode {

    position: absolute;
    z-index: 2;
}

.main__form {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
    background-color: #c0c0c0;
}

.main__form__titleSelection {
    display: flex;
    justify-content: space-around;

}

.main__form__titleSelection>h1 {
    font-size: 22px;
    margin: 30px 0px;
    background-color: #c0c0c0;
    color: black;
    cursor: pointer;
}

.main__form__inputField {
    margin: 0px 40px 15px 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;

}

.main__form__inputField>i {
    font-size: 1.1rem;
    margin: 0 5px 0 10px;
    width: 6%;

}

.main__form__inputField>input {
    display: flex;
    align-content: center;
    height: 100%;
    border-style: none;
    width: 100%;
    outline: none;
    font-weight: 600;
    line-height: 1;
    text-align: start;
    font-size: 1.1rem;
    background: none;
}

.main__form__inputField>input::placeholder {
    font-size: 1rem;
}

.btn_input{
    margin: 10px 40px 20px 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #564647;
    color: white;
    border-style: none;
    cursor: pointer;
}

.main__form>p {
    margin: 10px 40px 30px 40px;
    text-align: center;

}

.main__form>p>a {
    text-decoration: none;
    color: #5850c7;

}

/*------------------------------------------*/
/*--Footer--*/
/*------------------------------------------*/