:root{
    --white: #ffffff;

    --gray-1: #f3f3f3;
    --gray-2: #e3e3e3;
    --gray-3: #c4c4c4;
    --gray-4: #777879;
    --gray-5: #555555;
    --gray-6: #2e2e2e;

    --pink-1: #ecadf6;
    --pink-2: #e480e5;
    --pink-3: #d740da;
    --pink-4: #b824bb;
    --pink-5: #8a178c;
    --pink-6: #69156a;

    --purple-1: #d7b7ff;
    --purple-2: #b983ff;
    --purple-3: #9349dd;
    --purple-4: #7535b6;
    --purple-5: #521e87;
    --purple-6: #390f64;

    --amber-1: #ffe499;
    --amber-2: #ffd767;
    --amber-3: #ffcb38;
    --amber-4: #ffc41f;
    --amber-5: #f1b406;
    --amber-6: #d39c00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    line-height: 1.5;
}

button{
    cursor: pointer;
    border: none;
    outline:none;
}

input{
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 1.rem;
    margin: 0.5rem;
    outline:none;
    padding: 0.5rem;
}

p{
    margin: 1rem
}