.wrapper {
  box-shadow: 5px 5px 30px #cdcdcd;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 300px;
}
.title {
  font-size: 1.3em;
  padding: .5em 0em;
}

.description {
  line-height: 1.6em;
}
.dataWrapper {
  padding: 1em;
}
.actionWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.button {
  border-radius: 1em!important;
  padding: 1em 2em!important;
  font-size: 1em;
  font-weight: normal;
}
.buttonAction {
  border-radius: 1em!important;
  background-color: var(--cyan)!important;
  padding: 1em 2em!important;
  font-size: 1em;
  font-weight: normal;
  color: #fff!important;
}