.title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}
.eventsCard {
  box-shadow: 5px 5px 16px #cdcdcd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  max-height: 500px;
}

.eventsCard::-webkit-scrollbar {
  display: none;
}

.eventWrapper {
  border: 1px solid #cdcdcd;
  padding: .5em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.eventWrapper:last-of-type {
  margin-bottom: 0px;
}
.eventTitle {
  font-size: 1.1em;
  color: var(--cyan);
  font-weight: bold;
}

.eventDate {
  font-size: .9em;
  color: gray;
}
.button {
  font-size: .9em;
  font-weight: normal!important;
  color: #ff000087!important;
  border: 1px solid #ff000087!important;
  padding: .3em 1em!important;
  height: auto;
  border-radius: 5px!important;
}
.description {
  margin: 1em 0em;
  line-height: 1.3em;
  color: gray;
}
.emptyWrapper {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #6633997a;
  font-weight: bold;
  font-size: 1em;
}
.buttonAddEvent {
  display: block;
  font-size: .9em;
  font-weight: normal!important;
  color: #6633997a!important;
  border: 1px solid #6633997a!important;
  padding: .3em 1em!important;
  height: auto;
  border-radius: 5px!important;
  margin-top: 2em!important;
}