.eventsCard {
  box-shadow: 5px 5px 16px #cdcdcd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
}

.eventsCard::-webkit-scrollbar {
  display: none;
}

.eventWrapper {
  border: 1px solid #cdcdcd;
  padding: .5em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.eventTitle {
  font-size: 1.1em;
  color: var(--cyan);
  font-weight: bold;
}

.eventDate {
  font-size: .9em;
  color: gray;
}
.button {
  font-size: .9em;
  font-weight: normal!important;
  color: #ff000087!important;
  border: 1px solid #ff000087!important;
  padding: .3em 1em!important;
  height: auto;
  border-radius: 5px!important;
}
.description {
  margin: 1em 0em;
  line-height: 1.3em;
  color: gray;
}