.mainContent {
  padding: 0 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.recoverPasswordForm {
  padding: 1.5rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20rem;
}

.recoverPasswordForm__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.recoverPasswordForm__content {
  align-items: center;
  display: inherit;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 0.5rem;
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}

button {
  margin: 1rem 0;
  border-radius: 1rem;
  border: hidden;
  color: var(--white);
  font-size: 1rem;
  height: 2.5rem;
  padding: 0.5rem 2rem;
}

.successMessage {
  text-align: center;
}

.errorMessage {
  align-items: center;
  background-color: var(--purple);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 3px 1px var(--cyan);
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 1em;
  padding: 0.5rem;
}

.errorMessage i {
  margin-right: 1rem;
  margin-left: 0.5rem;
}
