.wrapper {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  padding-top: 2em;
  border: 1px solid red;
}

.content {
  width: 50vw;
  position: relative;
}

.column {
  width: 280px;
  position: absolute;
  top: 12%;
  left: -20vw;
}
.carrouselWrapper{
  margin-bottom: 3em;
}
.title {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
