.wrapper {
  width: 100%;

  position: relative;
}

.wrapper__content{
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {

  width: 85vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.column {
  width: 20%;


}
.carrouselWrapper{
  margin-bottom: 3em;
}

.carrouselCreadoresWrapper{
  width: 40%;
  position: absolute;
  bottom: -15%;
}

.title {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}


.wrapper__center{

  width: 50%;
}

.svg__header{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;

  margin-bottom: 10vh;
  position: relative;
}

.svg__header > img{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: -1;
}

.header__content{
  text-align: center;
  color: white;
  height: fit-content;
}

