.wrapper {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  justify-content: space-between;
}

.content {
  width: 74%;
  background-color: blue;
}

.column {
  width: 25%;
  background-color: red;
}
