.searchGroup {
  width: 100%;
}

.searchGroup__filter {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
}

.searchGroup__input {
  border-radius: 0.2rem;
  position: relative;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 100%;
}

.searchGroup__input i {
  position: absolute;
  right: 1rem;
  transform: rotateY(180deg);
}

.searchGroup__input input {
  border-radius: 0.2rem;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  .searchGroup {
    display: flex;
  }

  .searchGroup__filter {
    max-width: 35%;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
