.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cardWrapper {
  width: 33.3%;
  padding: 1em;
  box-sizing: border-box;
}
@media screen and (max-width:1550px) {
  .cardWrapper {
    padding: .5em;
    box-sizing: border-box;
  }
}
@media screen and (max-width:1000px) {
  .cardWrapper {
    width: 50%;
  }
}
@media screen and (max-width:600px) {
  .cardWrapper {
    width: 100%;
  }
}