.mainHeader {
  padding: 1rem 3%;
  background-color: #1a202c;
  border-bottom-color: #e9c46a;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mainHeader__logo {
  height: inherit;
}

.mainHeader__logo > img,
.mainHeader__logo > source {
  height: inherit;
  max-height: 3rem;
}

.mainHeader__navigation {
  display: none;
}

.mainHeader__buttons button {
  margin: 0;
  font-size: 0.8rem;
}

.dropdown__wrapper {
  position: relative;
}

.dropdown {
  color: #ffffff;
  background-color: rebeccapurple;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  height: 3rem;
  width: 12rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.dropdown__avatar {
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2.8rem;
  width: 2.8rem;
  margin-left: 0.2rem;
  background-color: rgba(0, 0, 0, 0.438);
}

.dropdown__name {
  margin-left: 1rem;
}

.dropdown__wrapper button {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 0.5rem;
  color: #e76f51;
  background-color: transparent;
  cursor: pointer;
}
.dropdown__icon {
  padding: 0.5rem;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}

.dropdown__icon:hover {
  background-color: rgba(0, 0, 0, 0.438);
}

.dropdown__options {
  position: absolute;
  right: 0;
  background-color: blueviolet;
  /* width: calc(100% - 3rem); */
  text-align: center;
  z-index: 1;
  width: 80%;
}

.options__item a,
.options__item button {
  padding: 0;
  display: block;
  margin: 0;
}

.options__item:hover {
  background-color: rgba(0, 0, 0, 0.438);
}

.options__item a {
  color: #ffffff;
  width: 100%;
  display: block;
}

.mainHeader__underline {
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(to right, #e76f51, #e9c46a);
}

@media (min-width: 640px) {
  .navigation__link {
    margin: 0 1rem;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .mainHeader__buttons button {
    font-size: 1rem;
  }

  .mainHeader__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navigation__link {
    margin: 0 0.5rem;
  }
}

@media (min-width: 1024px) {
  .navigation__link {
    margin: 0 1rem;
  }
}
