.signInForm {
    padding: 1.5rem 0;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
}

.signInForm__title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.signInForm__content{
    align-items:center;
    display: inherit;
    flex-direction: column;
}

.formGroup{
    margin-bottom: 0.5rem;
}
.signInForm__policies{
    text-align: center;
}

button{
    margin: 1rem 0;
    background: var(--dark-green);
    border-radius: 1rem;
    border: hidden;
    color: var(--white);
    font-size: 1rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    /* width: 10rem; */
}


@media (min-width: 640px) {
    .signInForm{
        height: 75vh;
    }
}