.wrapper{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cotainer__Form{
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
    min-width: 1500px;
    box-shadow: 2px 3px 15px -4px rgba(0,0,0,0.49);
    height: 800px;
    overflow: hidden;
    background: #ffff;
}

.wrapper__form__signUp{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: center;
    transform: translateX(0%);
    transition: 0.5s 0.3s ease-in-out;
    /* border: 1px solid violet; */
    /* visibility: hidden; */

}

.wrapper__poligono{
    position: absolute;
    right: 45%;
    height: inherit;
    z-index: 3;
    transition: 0.5s ease-in-out;
    /* visibility: hidden; */
}


.polygonSection{
    display: flex;
    
    align-items: center;
    width: 50%;
    height: inherit;    

}

.loginImg{
    opacity: 1;
    height: 35%;
    position: absolute;
    opacity: 70%;
    right: 63%;
    z-index: 99999;
    transition: 0.1s 0.2s ease-in-out;
}

.signInImg{
    
    height: 35%;
    z-index: 99999;
    opacity: 0;
    left: 66%;
    position: absolute;
    transition: 0.1s 0.2s ease-in-out;
    transform: translateX(-400%);
}

/*------------------------------------------*/
/*--boton del svg form--*/
/*------------------------------------------*/

.button__submit{
    margin: 0;
    transition: 0.1s 0.2s ease-in-out;
    margin-top: 5px;
}

.paragraph__button{
    color: white;
    
    margin: 0;
}

.wrapper__buttonPolygon__loginMode{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 9999999;
    top: 10%;
    left: 15%;
    transform: translateX(-0%);
    transition: 0.1s 0.2s ease-in-out;
}



.button__submit__signIn__mode{
    opacity: 1;
    margin: 0;

}

.paragraph__button__submit__signIn__mode{
    margin: 0;
    opacity: 1;
    color: white;
    margin-bottom: 5px;
}

.wrapper__buttonPolygon__signInMode{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99999999;
    top: 10%;
    right: 15%;
    transition: 0.1s 0.2s ease-in-out;
    transform: translateX(500%);
}


/*------------------------------------------*/
/*-- final estilos boton del svg form--*/
/*------------------------------------------*/

/*------------------------------------------*/
/*--Form section--*/
/*------------------------------------------*/

.form__Section{
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}


/*------------------------------------------*/
/*--mod sign in--*/
/*------------------------------------------*/
.wrapper__form__signIn{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid violet; */
    z-index: 1;
    opacity: 0;
    transition: 0.5s 0.3s ease-in-out;
    transform: translateX(-100%);
}

/* animation */

.signUp__mode > .wrapper__form__signIn{
    opacity: 1;
    transform: translateX(0%);
}

.signUp__mode > .wrapper__form__signUp{
    z-index: 1;
    opacity: 0;
    transform: translateX(100%);
}

.signUp__mode > .wrapper__poligono{
    transform: translateX(95%);
    
}

.signUp__mode > .loginImg{
    transform: translateX(300%);
    opacity: 0;
}

.signUp__mode > .signInImg{
    transform: translateX(0%);
    opacity: 70%;
}

.signUp__mode > .button__submit{
    transform: translateX(-400%);
    opacity: 0;
}

.signUp__mode > .button__submit__signUp__mode{
    transform: translateX(0%);
}

.signUp__mode > .paragraph__button__submit__signUp__mode{
    opacity: 1;
    transform: translateX(0%);
}

.signUp__mode > .paragraph__button{
    opacity: 0;
    transform: translateX(-400%);
}

.signUp__mode > .wrapper__buttonPolygon__loginMode{
    transform: translateX(-500%);
}


.signUp__mode > .wrapper__buttonPolygon__signInMode{
    transform: translateX(0%);
}



/*------------------------------------------*/
/*--mediaQuery--*/
/*------------------------------------------*/

@media only screen and (max-width: 1500px) {
    .cotainer__Form{
        min-width: 1200px;
        height: 700px;
    }
    .loginImg{
        height: 30%;
    }
    
    .signInImg{
        height: 30%;
    }

    .wrapper__buttonPolygon__loginMode{
        left: 13%;
    }


    .wrapper__buttonPolygon__signInMode{
        right: 13%;
    }
}

@media (max-width: 1200px) {
    .cotainer__Form{
        min-width: 1000px;
        height: 650px;
        
    }

    .loginImg{
        height: 29%;
        right: 63%;
    }
    
    .signInImg{
        height: 27%;
        left: 67%;
    }

    .wrapper__buttonPolygon__loginMode{
        left: 13%;
    }


    .wrapper__buttonPolygon__signInMode{
        right: 10%;
    }
}

@media only screen and (max-width: 1000px) {
    .cotainer__Form{
        width: 100%;
        height: 600px;
    }

    .wrapper__poligono{
        right: 40%;
    }

    .signUp__mode > .wrapper__poligono{
        transform: translateX(90%);
    }

    .loginImg{
        height: 25%;
        right: 61%;
    }
    
    .signInImg{
        height: 25%;
        left: 64%;
    }

    .wrapper__buttonPolygon__loginMode{
        left: 10%;
    }


    .wrapper__buttonPolygon__signInMode{
        right: 10%;
    }
    
}

@media only screen and (max-width: 850px) {
    .cotainer__Form{
        width: 100%;
        height: 80vh;
        transition-delay: 0.5s;
        transition-timing-function: ease-in-out;
        min-height: 600px;
    }

    .cotainer__Form.signUp__mode{
        width: 100%;
        height: 750px;
    }

    .loginImg{
        display: none;
    }
    
    .signInImg{
        display: none;
    }

    .wrapper__buttonPolygon__loginMode{

        left: 0;
        right: 0;
        bottom: 45px;
        justify-content: flex-end;
        top: initial;
    }

    .wrapper__buttonPolygon__loginMode > p{
        color: black;
        font-weight: 400;
    }


    .wrapper__buttonPolygon__signInMode{
        top: initial;
        right: 0;
        left: 0;
        bottom: 30px;
        justify-content: flex-end;
    }

    .wrapper__buttonPolygon__signInMode > p{
        color: black;
     }

    .wrapper__poligono{
        display: none;
    }

    .polygonSection{
        display: none;
    }

    .form__Section{
        width: 100%;
        margin-top: -7em;
    }
    
}
