*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wapper__container{
    margin: 0;
    padding: 1em;
    box-shadow: 5px 5px 16px #cdcdcd;
    border-radius: 1em;
    border: 1px solid #cdcdcd66;
    background-color: #fff;
    position: relative;
}

.header__card__background{
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    height: 38%;
    z-index: 1;
    width: 100%;
    background-color: #663399;
    border: 1px solid #663399;
}

.wapper__container > div > h6 {
    text-align: right;
    cursor: pointer;
    position: relative;
    z-index: 99;
    color: #fff;
}

.wrapper__circle__nickpic{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.circle__nickpic{
    border: 8px solid #fff;
    background-color: #663399;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.description__wrapper{
    margin-top: 5px;
    text-align: center;
}

.biography__wrapper{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.biography__wrapper > p{
    display: inline;

}

.wrapper__insignias{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.circle__insinia{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #663399;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__insinia > a{
    color: #663399;
    font-size: 1.5rem;
    text-shadow: none;
}

.circle__insinia:hover{
    border: 3px solid #663399;
    background-color: #663399;
}

.circle__insinia:hover > a{
    color: #fff;
}

.message__profileCard__biograpfy{
    color: #cdcdcd;
}