*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wapper__container{
    margin: 0;
    position: absolute;
    top: 0;
    left: -33%;
    width: 250px;
    padding: 5px 10px;
    background-color: rgb(180, 180, 180);
}

.wapper__container > a > h6 {
    text-align: right;
}

.wrapper__circle__nickpic{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.circle__nickpic{
    border: 3px solid gray;
    background-color: gray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.description__wrapper{
    margin-top: 5px;
    text-align: center;
}

.biography__wrapper{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.biography__wrapper > p{
    display: inline;

}

.wrapper__insignias{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.circle__insinia{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: gray;
}