*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wapper__container{
    margin: 0;
    top: 0;
    left: -33%;
    padding: 1em;
    box-shadow: 5px 5px 16px #cdcdcd;
    border-radius: 1em;
    border: 1px solid #cdcdcd66;
}

.wapper__container > div > h6 {
    text-align: right;
}

.wrapper__circle__nickpic{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.circle__nickpic{
    border: 3px solid gray;
    background-color: gray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.description__wrapper{
    margin-top: 5px;
    text-align: center;
}

.biography__wrapper{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.biography__wrapper > p{
    display: inline;

}

.wrapper__insignias{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.circle__insinia{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: gray;
}