*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wapper__container{
    margin: 0;
    padding: 1em;
    box-shadow: 5px 5px 16px #cdcdcd;
    border-radius: 1em;
    border: 1px solid #cdcdcd66;
    background-color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.header__card__background{
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    height: 38%;
    z-index: 1;
    width: 100%;
    background-color: #663399;
    border: 1px solid #663399;
}

.wapper__container > div > h6 {
    text-align: right;
    cursor: pointer;
    position: relative;
    z-index: 99;
    color: #fff;
}

.wrapper__circle__nickpic{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.circle__nickpic{
    border: 8px solid #fff;
    background-color: #663399;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.description__wrapper{
    margin-top: 5px;
    text-align: center;
}

.biography__wrapper{
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.biography__wrapper > p{
    display: inline;
}

.wrapper__insignias{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.circle__insinia{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #663399;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__insinia > a{
    color: #663399;
    font-size: 1.5rem;
    text-shadow: none;
}

.circle__insinia:hover{
    border: 3px solid #663399;
    background-color: #663399;
}

.circle__insinia:hover > a{
    color: #fff;
}

.message__profileCard__biograpfy{
    color: #cdcdcd;
}

.message__profileCard__knowledge{
    color: #cdcdcd;
}

.quote .tooltip {
    position: relative;
    display: inline-block;
    background: #286F8A;
    padding: 0px 8px 5px 8px;
    margin: -10px 0;
    cursor: pointer;
		border: 1px solid red;
}

.circle__insinia__disabled{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #6633998a;
    background-color: rgba(255, 255, 255, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle__insinia__disabled > a{
    color: #6633998a;
    font-size: 1.5rem;
    text-shadow: none;
}

.tooltip_info{
  position: absolute;
  bottom: 65px;
  left: 50%;
    
  text-align: justify;
  width: 200px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  background-color: #6633998a;
  border-radius: 4px;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 50%);
    z-index: 9999;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.4s ease-in, transform 0.3s ease, visibility 0.4s ease-in;
}

.circle__insinia__disabled:hover > .tooltip_info{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 38%);
}