/*------------------------------------------*/
/*--Carousel Creadores--*/
/*------------------------------------------*/

.wrapper__carousel{
    /* display: flex; */
    width: 100%;

    height: 250px;
    position: relative;

    /* justify-content: center;
    align-items: center;
    position: relative;
 */
}

/* .wrapper__carousel::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: linear-gradient(to right, rgb(0, 0, 0)  0%, rgba(255, 255, 255, 0 ) 40%, rgba(255, 255, 255, 0 ) 60%, rgb(0, 0, 0) 100%);
} */

.card__cotainer{
    align-items: center;
    position: relative;
    text-align: center;
    height: 100%;

}


.wrapper__imgCard{
    position: relative;
    margin: 0px 10px;
    border-radius: 10px;
    overflow: hidden;

}

.img__carousel{
    align-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.overlay__img{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    justify-content: center;
    color: white;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;

}

.box__rrss__overlay__img:first-child{
    margin-right: 15px;
}

.wrapper__imgCard:hover > .overlay__img{
    visibility: visible;
    transform: translateY(0%);
}

.red::before{
    color: black !important;
}


.center > .slick-track > .slick-current{
    border: 1px solid red !important;
}

.current__0{
    border: 1px solid red !important;
}

.colorRed{
    border: 1px solid red;
}

.centerActivate{
    
    border-radius: 30px;
    
}
/*------------------------------------------*/
/*--carousel Sponsors--*/
/*------------------------------------------*/

.wrapper__carousel__sponsors{
    /* display: flex; */
    width: 100%;
    
    height: 250px;
    position: relative;
    /* justify-content: center;
    align-items: center;
    position: relative;
 */
}

.wrapper__carousel__sponsors > .card__cotainer{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

