/*------------------------------------------*/
/*--Carousel Creadores--*/
/*------------------------------------------*/

.wrapper__carousel{
    /* display: flex; */
    width: 100%;
    height: 200px;
    position: relative;

    /* justify-content: center;
    align-items: center;
    position: relative;
 */
}

.box__rrss__overlay__img > a > i{
    color: white;
}

.card__cotainer{
    align-items: center;
    position: relative;
    text-align: center;
    height: 100%;
}


.wrapper__imgCard{
    position: relative;
    margin: 0px 10px;
    padding: 1px 0px;
    border-radius: 10px;
    overflow: hidden;

}

.img__carousel{
    align-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.overlay__img{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    justify-content: center;
    color: white;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;

}

.box__rrss__overlay__img:first-child{
    margin-right: 15px;
}

.wrapper__imgCard:hover > .overlay__img{
    visibility: visible;
    transform: translateY(0%);
}

.black::before{
    color: black !important;
}

.disabled::before{
    display: none;
}



.center{
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 4px 7px 0px rgba(0,0,0,0.28);
}
/*------------------------------------------*/
/*--carousel Sponsors--*/
/*------------------------------------------*/

.wrapper__carousel__sponsors{

    width: 100%;
    height: 150px;
    position: relative;
}

.wrapper__carousel__sponsors > .card__cotainer{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}
.card__cotainer > img{
    object-fit: scale-down;
}

/*------------------------------------------*/
/*--Query--*/
/*------------------------------------------*/

@media only screen and (max-width: 1440px) {
    .wrapper__carousel{
        height: 185px;
       
    }

    .wrapper__carousel__sponsors{

        width: 100%;
        height: 130px;
        position: relative;
    }

    .wrapper__imgCard{
        margin: 0px 3px;
    
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper__carousel{

        height: 130px;
    
       
    }

    .wrapper__imgCard{
        padding: 0 0px;
        margin: 0px 2px;
    
    }

    .wrapper__carousel__sponsors{

        width: 100%;
        height: 105px;
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper__carousel{

        height: 125px;
    
       
    }

    .wrapper__imgCard{
        padding: 0 18px;
        margin: 0px 2px;
    
    }

  
  
  }

@media only screen and (max-width: 640px) {
    .wrapper__carousel{

        height: 128px;
    
       
    }

    .wrapper__imgCard{
        padding: 0 15px;
        margin: 0px 2px;
    
    }

    .img__carousel{
        height: 100%;
        width: 100%;
        position: relative;
    }
  
  
  }

  
@media only screen and (max-width: 425px) {
    .wrapper__carousel{

        height: 110px;
    
       
    }

    .wrapper__imgCard{
        padding: 0 10px;
        margin: 0px 2px;
    
    }

  
  
  }
